body {
    background-color: #447BBE;
}

h1 {
    color: #B11313;
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    color: #B11313;
    text-align: center;
}

img {
    border-style: dotted;
}

img:hover {
    border-style: solid;
}